<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :company_name %>
  </div>

  <div class="field">
    <%= form.label :license_number %>
    <%= form.text_field :license_number, id: :company_license_number %>
  </div>

  <div class="field">
    <%= form.label :started_at %>
    <%= form.datetime_select :started_at, id: :company_started_at %>
  </div>

  <div class="field">
    <%= form.label :founder_name %>
    <%= form.text_field :founder_name, id: :company_founder_name %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <%= form.text_field :contact, id: :company_contact %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :company_address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
